:root {
	--primary-color: #0d1011; /* Dark slate gray for base elements */
	--secondary-color: #4A9C8E; /* Teal for accent elements, vibrant yet industrial */
	--tertiary-color-light: #B0BEC5; /* Light gray for secondary elements and backgrounds */
	--tertiary-color-dark: #37474F; /* Darker gray for additional contrast */
	--text-color: #ECEFF1; /* Soft white for text for readability */
	--error-color: #D32F2F; /* Muted red for errors, alerts, and warnings */
}

html {
	background: #000;
	height: 100vh;
	width: 100vw;
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto;
}

body {
	/* background-color: var(--primary-color); */
	margin: 0;
	padding: 2em;
	background: linear-gradient(to bottom right, #2b2d2f, #2b383f);
	background-repeat: no-repeat;
	color: var(--text-color);
	font-family: 'Courier New', Courier, monospace; /* Emphasizing the monospace theme */
	display: grid;
	grid-template-rows: auto 1fr;
}

*::-webkit-scrollbar {
	width: 1.8ex;
	height: 1.8ex;
}
*::-webkit-scrollbar-thumb {
	background: var(--secondary-color);
}
*::-webkit-scrollbar-thumb:hover {
	background: var(--tertiary-color-light);
}
*::-webkit-scrollbar-track {
	background: var(--tertiary-color-dark);
}
*::-webkit-scrollbar-corner {
	background: var(--tertiary-color-dark);
}


button {
	color: var(--secondary-color);
	background-color: var(--tertiary-color-dark);
	border: none;
	font-size: 1em;
	padding: 0.5ex 1ex;
	font-weight: bold;
	cursor: pointer;
}
a {
	color: var(--secondary-color);
}

.error,
.alert {
	color: var(--error-color);
}

div#root {
	display: grid;
	grid-template-columns: auto 1fr auto;
	grid-template-rows: minmax(auto, 30vh) auto auto auto;
	gap: 2ex;
}

#serverwslog {
	grid-column: span 2;
}

.logcontainer {
	display: grid;
	background-color: var(--primary-color);
	padding: 1em;
	grid-template-rows: auto 1fr;
	gap: 2ex;
}
.logcontainer > h2 {
	margin: 0;
}
.logcontainer .msglog {
	overflow-y: scroll;
}

#qdevices {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto 1fr;

	gap: 1ex;
}
#qdevices :is(h1, h2, h3, h4, h5, h6) {
	margin: 0;
}
#qdevices > .devicelist {
	display: flex;
	flex-direction: column;
	gap: 1ex;
	overflow-y: scroll;
}
#qdevices > .devicelist > .device {
	background-color: var(--primary-color);
	padding: 1ex;
	display: flex;
	flex-direction: column;
	gap: 0.5ex;
}
#qdevices > .devicelist > .device > h2 {
	margin-top: 0;
}
#qdevices > .devicelist > .device > h2 > small {
	font-size: 0.5em;
}
#qdevices > .devicelist > .device > h3 > small {
	font-size: 0.6em;
}

#dragndroptacton {
	grid-column: span 3;

	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2ex;
	flex-direction: column;
	grid-template-columns: auto;
	grid-template-rows: auto auto auto;
	border: 2px dashed var(--tertiary-color-light);
}
#dragndroptacton strong {
	font-size: 2em;
}
#dragndroptacton.dragover {
	background-color: var(--tertiary-color-dark);
}
#dragndroptacton > small {
	font-size: 0.75em;
	font-weight: bold;
}

#waveformcontainer {
	grid-column: span 3;
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto;
	gap: 2ex;
}

#waveformcontainer > canvas {
	grid-area: 1 / 1 / 2 / 2;
}