body.videoratingmode {

    div#hapfilepicker {
        display: none;
    }

    div#root {
        grid-template:
            "playbackv playbackv playbackv" min-content
            "mprompt mprompt mprompt" minmax(50ex, 1fr)
            "serverwslog serverwslog connquests" minmax(auto, 8vh) /
        minmax(105ex, 1fr) minmax(60ex, 1fr) 0.6fr;
    }
}

div.videorating {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    gap: 2ex;
    padding: 2ex;
    font-size: 1.2em;
    padding-top: 2ex;
    /* background-color: var(--tertiary-color-darker); #252829 */
    background: linear-gradient(to bottom right, #2e3133, var(--tertiary-color-darker));
    min-height: 100%;
    box-sizing: border-box;

    h2 {
        margin-bottom: 0;
    }

    h3 {
        text-align: center;
    }
}

div.videorating div.ratinglist {
    display: grid;
    grid-auto-flow: row;
    gap: 2ex;
    /* padding: 2ex; */
    /* max-width: 115ex; */
    align-self: center;
}

div.videorating div.ratinglist h3 {
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 0;
}

div.videorating div.ratinglist div.statement {
    display: grid;
    grid-template-columns: minmax(auto, 1fr) 50ex;
    grid-template-columns: minmax(50ex, 1fr) 50ex;
    grid-template-rows: auto;
    align-items: center;
    gap: 5ex;
    padding: 1ex;
    border-radius: 0.5ex;
    box-shadow: 0 1px 4px rgba(0,0,0,0.05);
}

div.videorating datalist {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 3ex;
  justify-content: space-between;
  /* padding-left: 0.75ex; */
  /* padding-right: 0.5ex; */

  option {
    display: flex;
    justify-content: center;
  }
}

div.videorating div.ratinglist div.statement .statementtext {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4em;
    text-align: center;
}
div.videorating div.ratinglist div.statement div.ratingslider {
    display: grid;
    grid-template-columns: 1fr 4.5ex;
    gap: 1ex 2.5ex;
    align-items: center;
    /* width: 50%; */
}


.ratingslider input[type=range] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    width: 100%;
    padding: 0px;
    margin: 0;
}
.ratingslider input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 1ex;
    cursor: pointer;
    background: var(--text-color);
    border-radius: 0.5ex;
}
.ratingslider input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    margin-top: -1.16ex;
    height: 3ex;
    width: 3ex;
    border-radius: 50%;
    background: var(--secondary-color);
    cursor: pointer;
}
.ratingslider input[type=range]::-webkit-slider-thumb {
    opacity: 0.51;
}
.ratingslider input[type=range].filled::-webkit-slider-thumb {
    opacity: 1;
}
.ratingslider input[type=range]::-moz-range-track {
    width: 100%;
    height: 1ex;
    cursor: pointer;
    background: var(--text-color);
    border-radius: 0.5ex;
}
.ratingslider input[type=range]::-moz-range-thumb {
    height: 3ex;
    width: 3ex;
    border-radius: 50%;
    background: var(--secondary-color);
    border: none;
    cursor: pointer;
    opacity: 0.51;
}
.ratingslider input[type=range].filled::-moz-range-thumb {
    opacity: 1;
}
.ratingslider input[type=range]::-ms-track {
    width: 100%;
    height: 1ex;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
.ratingslider input[type=range]::-ms-fill-lower,
.ratingslider input[type=range]::-ms-fill-upper {
    background: var(--text-color);
    border-radius: 0.5ex;
}
.ratingslider input[type=range]::-ms-thumb {
    height: 3ex;
    width: 3ex;
    border-radius: 50%;
    background: var(--secondary-color);
    cursor: pointer;
    opacity: 0.51;
}
.ratingslider input[type=range].filled::-ms-thumb {
    opacity: 1;
}


div.videorating div.ratinglist div.statement div.ratingslider .ratingvalue {
    font-weight: bold;
    font-size: 1.5em;
    min-width: 2ex;
    text-align: center;
}

.video-wrapper {
    position: relative;
    display: inline-block;

    .video-overlay {
        position: absolute;
        top: 0;
        left: 0;
        pointer-events: none; /* so clicks go “through” to the video */
    }
}